#versionInfo {
  background-image: url("../img/Info_24x24.png");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

#versionInfoText {
  border: 1px solid cornflowerblue;
  padding: 5px 10px;
  background-color: #88B9FF;
  width: 350px;
  min-height: 200px;
  max-height: 200px;
  overflow: auto;
  position: absolute;
}

#versionInfoText p,
#versionInfoText ul {
  margin: 0;
}